{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "node": true,
    "it": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": "off"
  }
}
