body {
  background-color: #f0f2f5;

  :global {
    .ant-layout {
      height: 100vh;
    }

    .ant-layout-header {
      background-color: #fff;
    }

    .ant-layout-content {
      min-height: 75vh;
      padding: 16px;
      margin: 16px;
      background-color: #fff;
    }

    .ant-layout-sider-children {
      .logo {
        height: 32px;
        margin: 16px;
      }
    }
  }
}
